# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - mycontainerapphelloworld

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: acrhelloworlddemo.azurecr.io/
          username: acrhelloworlddemo
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_49CAEA60CFA640B9ACAB530B01725817 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: acrhelloworlddemo.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_EEDABF32B1B14776AE23B250C378DB13 }}/helloworld:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_D90018EC7AB24D989B7BEC851C1A8467 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_83307CCE48B14B9CB46E1534EA03A84B }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_29DE0E08CC764560BE782EA658497C37 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'mycontainerapphelloworld'
          slot-name: 'Production'
          images: 'acrhelloworlddemo.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_EEDABF32B1B14776AE23B250C378DB13 }}/helloworld:${{ github.sha }}'

          
