name: Build and Deploy to Azure

on:
  push:
    branches:
      - main

env:
  ACR_NAME: acrhelloworlddemo
  IMAGE_NAME: helloworld
  WEBAPP_NAME: mycontainerapphelloworld
  RESOURCE_GROUP: rg-helloworld-demo

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Clear Docker credentials
      run: docker logout

    - name: Login to Azure
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Login to ACR
      uses: azure/docker-login@v2
      with:
        login-server: ${{ env.ACR_NAME }}.azurecr.io
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: Build Docker image
      run: docker build -t $ACR_NAME.azurecr.io/$IMAGE_NAME:latest .

    - name: Push Docker image to ACR
      run: docker push $ACR_NAME.azurecr.io/$IMAGE_NAME:latest

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.WEBAPP_NAME }}
        images: ${{ env.ACR_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:latest
